.basic-card {
    width:90%;
  padding: 10px;
    margin: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    -o-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
}
.basic-card-light {
    border: 1px solid #eee;
}
.personal-info {
    font-family: 'Inter', serif;
    font-weight: bold;
   color:#000;
  text-align: left;
  text-shadow:0 0.1em 0.2em #cdd1d1;
  font-size: 25px;
  margin: 5px;
}
.line {
    display: flex;
    margin: 5px;
    align-items: center;
}
.address-lines {
    display: flex;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
}
.left-items {
    margin-left: 20px;
    font-family: 'Inter', serif;
    font-weight: bold;
   color:#000;
    font-size: 18px;
 
  text-align: left;
  width: fit-content;
}
.card-labels {
    font-family: 'Inter', serif;
    font-weight: bold;
   color:#000;
    font-size: 18px;
  margin: 5px;
  text-align: left;
  width: fit-content;
}
.bold-text {
    font-weight:bold ;
    color: #454545;
}
.card-text {
    font-family: 'tahoma', serif;
   
   color:#000;
    font-size: 17px;
  margin: 5px;
}
.card-text-2 {
    text-align: right;
}
hr.fancy-line { 
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(215,215,215,0.75), rgba(0,0,0,0)); 
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(215,215,215,0.75), rgba(0,0,0,0)); 
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(215,215,215,0.75), rgba(0,0,0,0)); 
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(215,215,215,0.75), rgba(0,0,0,0)); 
    box-shadow: 0px -2px 4px rgba(136,136,136,0.75);
}